:host {
  display: block;
  width: 100%;
  height: 100%;

  /* Component tokens (PRIVATE - do not override directly) */
  /* These reference semantic tokens (--r-*) which CAN be customized */
  --r-internal-tabs-background: var(--r-color-background, #fff);
  --r-internal-tabs-border-color: var(--r-border-color);
}

/* Map component tokens to Ionic tabs variables */
r-tabs ion-tabs {
  --background: var(--r-internal-tabs-background);
  --border-color: var(--r-internal-tabs-border-color);
}

