:host {
  display: block;
  width: 100%;

  /* Component tokens (PRIVATE - do not override directly) */
  /* These reference semantic tokens (--r-*) which CAN be customized */
  --r-internal-tab-bar-background: var(--r-color-background, #fff);
  --r-internal-tab-bar-border-color: var(--r-border-color);
}

/* Map component tokens to Ionic tab-bar variables */
r-tab-bar ion-tab-bar {
  --background: var(--r-internal-tab-bar-background);
  --border-color: var(--r-internal-tab-bar-border-color);
}

